:root {
  --primary-color: #214477;
  --main-button-bg: #f7a542;
}

.hero {
  height: 50vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  margin-right: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.hero-text {
  font-weight: bold;
}

.hero-button {
  padding: 10px 42px;
  width: fit-content;
  align-self: center;
  font-weight: bold;
  background-color: var(--main-button-bg);
  border-color: #f7a64288;
}

main {
  margin: 30px 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 15px 0px;
}

.card {
  border: 1px solid #000;
  width: 150px;
  border-radius: 16px;
  overflow: hidden;
}

.card-upper {
  color: #fff;
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

.card-lower {
  padding: 20px;
}

.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.content-image {
  width: 80vw;
}

.aboutus p {
  text-align: justify;
}
